
</div>
<footer>
    <div class="wrapper">
        <div class="clearfix">
            <div class="copy">
                <span>© 2018 CouponFree.ru</span> Все права защищены
            </div>
            <a href="">
                Пользовательское соглашение
            </a>
            <div class="social">
                <a href="" target="_blank"><i class="icon-vk"></i></a>
                <a href="" target="_blank"><i class="icon-fb"></i></a>
                <a href="" target="_blank"><i class="icon-od"></i></a>
                <a href="" target="_blank"><i class="icon-gp"></i></a>
                <a href="" target="_blank"><i class="icon-tw"></i></a>
            </div>
            
        </div>
    </div>
</footer>
<div class="pop">
	    <div class="pop_bg"></div>
	    <div class="pop_cont">
	
	            <a href="" class="pop_close"><i class="icon-close"></i></a>
	            <div class="pop_block block_bg">

	                <div class="pop_cart">
	                    <div class="center">
                            <img src="images/temp/14.png" alt="alt">    
                        </div> 
	                    <div class="pop_head">
                            Минус 1000 рублей на первую покупку для новых клиентов
                        </div>
                        <p>
                            Срок действия ограничен! Активен для любого заказа на сумму 
от 10000 рублей.

                        </p>
                        <p>
                            Для того чтобы воспользоватся промокодом, скопируйте его и перейдите на сайт магазина.
                        </p>
                        
                        <div class="pseudo">
                            <input type="text" disabled class="pseudo_input" value="175GRLF9034K1">
                            <span class="pseudo_a" id="Copy">СКОПИРОВАТЬ КОД</span>
                            <a href="">Перейти в магазин Lamoda.ru</a>
                            
                        </div>
	                </div>
	            </div>
	    </div>
	</div>
<link rel="stylesheet" type="text/css" href="css/style.css" />


<script src="js/libs/jquery-3.2.1.min.js"></script>
<script src="js/libs/owl.carousel.min.js"></script>
<!--<script src="js/libs/jquery.formstyler.js"></script>-->
<!--<link rel="stylesheet" type="text/css" href="js/libs/assets/jquery.formstyler.css" />-->
<!--<link rel="stylesheet" type="text/css" href="js/libs/assets/jquery.formstyler.theme.css" />-->

<!--<script src="js/libs/jquery.fancybox.min.js"></script>-->
<!--<link rel="stylesheet" type="text/css" href="js/libs/jquery.fancybox.min.css" />-->



<link type="text/css" href="js/libs/assets/jquery.jscrollpane.css" rel="stylesheet" media="all" />
<script src="js/libs/jquery.mousewheel.js"></script>
<script src="js/libs/jquery.jscrollpane.min.js"></script>

<!--general-->
<script src="js/common.js"></script>

