<div class="main">

<header>
    <div class="wrapper">
        <div class="header">
            <a href="/" class="logo">
                <i class="icon-scissors2"></i>
                COUPON<span>FREE</span>
            </a>
            <div class="header_search">
                <input type="text" placeholder="Поиск скидок и промокодов по названию магазина">
                <button type="submit"><i class="icon-search"></i></button>
            </div>
            <a href="" class="header_nav_mob">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <div class="header_nav">
                <a href="">О СЕРВИСЕ</a>
                <a href="">КОНТАКТЫ</a>
            </div> 
        </div>
    </div>
    <nav>
        <a href="" class="nav_close"><i class="icon-close"></i></a>
        <div class="wrapper">
            <div>
                <a href="" class="nav_a nav_a_mClick">Магазины</a>
                <div class="nav_dd">
                    <div class="nav_block">
                        <div class="nav_left">
                            <a href="" class="back"><i class="icon-next"></i>Назад</a>
                            <a href="" class="nav_a">adidas</a>
                            <a href="" class="nav_a">AliExpress</a>
                            <a href="" class="nav_a">ASOS</a>
                            <a href="" class="nav_a">Biglion</a>
                            <a href="" class="nav_a">Bonprix</a>
                            <a href="" class="nav_a">Butik</a>
                            
                            
                            <a href="" class="nav_a">Delivery Club</a>
                            <a href="" class="nav_a">Ebay</a>
                            <a href="" class="nav_a">Gearbest</a>
                            <a href="" class="nav_a">KupiVip</a>
                            <a href="" class="nav_a">Lamoda</a>
                            <a href="" class="nav_a">O'stin</a>

                            <a href="" class="nav_a">OBI</a>
                            <a href="" class="nav_a">Oldi</a>
                            <a href="" class="nav_a">Ozon.ru</a>
                            <a href="" class="nav_a">Reebok</a>
                            <a href="" class="nav_a">S7</a>
                            <a href="" class="nav_a">Sunlight</a>

                            <a href="" class="nav_a">Toy.ru</a>
                            <a href="" class="nav_a">Wildberries</a>
                            <a href="" class="nav_a">Буквоед</a>
                            <a href="" class="nav_a">Дочки Сыночки</a>
                            <a href="" class="nav_a">Л'Этуаль</a>
                            <a href="" class="nav_a">М.Видео</a>

                        </div>
                        
                        <div class="nav_right">
                            Доступно магазинов:
                            <div>
                                1527
                            </div>
                            <a href="" class="btn">
                                Выбрать магазин
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a href="" class="nav_a nav_a_mClick">Категории</a>
                <div class="nav_dd">
                    <div class="nav_block">
                        <div class="nav_left">
                            <a href="" class="back"><i class="icon-next"></i>Назад</a>
                            <a href="" class="nav_a">adidas</a>
                            <a href="" class="nav_a">AliExpress</a>
                            <a href="" class="nav_a">ASOS</a>
                            <a href="" class="nav_a">Biglion</a>
                            <a href="" class="nav_a">Bonprix</a>
                            <a href="" class="nav_a">Butik</a>
                            
                            
                            <a href="" class="nav_a">Delivery Club</a>
                            <a href="" class="nav_a">Ebay</a>
                            <a href="" class="nav_a">Gearbest</a>
                            <a href="" class="nav_a">KupiVip</a>
                            <a href="" class="nav_a">Lamoda</a>
                            <a href="" class="nav_a">O'stin</a>

                            <a href="" class="nav_a">OBI</a>
                            <a href="" class="nav_a">Oldi</a>
                            <a href="" class="nav_a">Ozon.ru</a>
                            <a href="" class="nav_a">Reebok</a>
                            <a href="" class="nav_a">S7</a>
                            <a href="" class="nav_a">Sunlight</a>

                            <a href="" class="nav_a">Toy.ru</a>
                            <a href="" class="nav_a">Wildberries</a>
                            <a href="" class="nav_a">Буквоед</a>
                            <a href="" class="nav_a">Дочки Сыночки</a>
                            <a href="" class="nav_a">Л'Этуаль</a>
                            <a href="" class="nav_a">М.Видео</a>

                        </div>
                        
                        <div class="nav_right">
                            Доступно магазинов:
                            <div>
                                1527
                            </div>
                            <a href="" class="btn">
                                Выбрать магазин
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="" class="nav_a">Лучшие промокоды</a>
            <a href="" class="nav_a">Сезонные скидки</a>
            <a href="" class="nav_a">Акции</a>
            <a href="" class="nav_a nav_a_mob">О СЕРВИСЕ</a>
            <a href="" class="nav_a nav_a_mob">КОНТАКТЫ</a>

        </div>
    </nav>
    <div class="nav_bg"></div>
</header>